* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* base style */
 
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*LAYOUT STYLES - classes*/

.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/* form inputs and labels*/
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 50%;
    margin-bottom: 1em;
}

/*pure-button elements */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}

/* buttons for white sections */
.buttonA {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: larger;
    border-color: #1f8dd6;
    color: #fff;
    box-shadow: 0 0 40px 40px #1f8dd6 inset, 0 0 0 0 #1f8dd6;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .buttonA:hover {
    box-shadow: 0 0 10px 0 #1f8dd6 inset, 0 0 10px 4px #1f8dd6;
    color: #2d3e50;
}
/* buttons for blue sections */
.buttonB {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: larger;
    border-color: #1f8dd6;
    color: #fff;
    box-shadow: 0 0 40px 40px #1f8dd6 inset, 0 0 0 0 #1f8dd6;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .buttonB:hover {
    box-shadow: 0 0 10px 0 #1f8dd6 inset, 0 0 10px 4px #1f8dd6;
    color: white;
}
/* buttons for keeping options to add to date summary */
.keep {
    margin-bottom: 10px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: larger;
    border: solid 5px #1f8dd6;
    color: white;
    background: rgb(175, 175, 175);
}
    .keep:hover{
        box-shadow: 0 0 10px 0 #1f8dd6 inset, 0 0 10px 4px #1f8dd6;
        color: white;
    }
    .keep:focus{
        box-shadow: 0 0 10px 0 #04a028 inset, 0 0 10px 4px #04a028;
        border: solid 5px #04a028;
    }

/* buttons for removing options from list */
.toss {
    margin-bottom: 10px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: larger;
    border: solid 5px #1f8dd6;
    color: white;
    background: rgb(175, 175, 175);
}  
    .toss:hover{
        box-shadow: 0 0 10px 0 #1f8dd6 inset, 0 0 10px 4px #1f8dd6;
        color: white;
    }
/* button for date summary */
.finalBtn {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 30px;
    font-size: 6rem;
    border-color: #1f8dd6;
    color: #fff;
    box-shadow: 0 0 40px 40px #1f8dd6 inset, 0 0 0 0 #1f8dd6;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .finalBtn:hover {
    box-shadow: 0 0 10px 0 #1f8dd6 inset, 0 0 10px 4px #1f8dd6;
    color: white;
}

/* styling the date button line 73 on js script - carson */
.dateBtn {
    margin-bottom: 10px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: larger;
    border: solid 5px #1f8dd6;
    color: white;
    background: rgb(175, 175, 175);
}
    .dateBtn:hover {
        box-shadow: 0 0 10px 0 #1f8dd6 inset, 0 0 10px 4px #1f8dd6;
        color: white;
    }

#saveNew {
    margin-bottom: 10px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: larger;
    border: solid 5px #1f8dd6;
    color: white;
    background: rgb(175, 175, 175);
}
    #saveNew:hover {
        box-shadow: 0 0 10px 0 #1f8dd6 inset, 0 0 10px 4px #1f8dd6;
        color: white;
    }


#deleteDate {
    margin-bottom: 10px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: larger;
    border: solid 5px #1f8dd6;
    color: white;
    background: rgb(175, 175, 175);
}
    #deleteDate:hover {
        box-shadow: 0 0 10px 0 #1f8dd6 inset, 0 0 10px 4px #1f8dd6;
        color: white;
    }

/* styling the save date button line 97 on js script */
#saveDate {
    margin-bottom: 10px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: larger;
    border: solid 5px #1f8dd6;
    color: white;
    background: rgb(175, 175, 175);
}
    #saveDate:hover {
        box-shadow: 0 0 10px 0 #1f8dd6 inset, 0 0 10px 4px #1f8dd6;
        color: white;
    }


/*menu - top of the page*/

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

.headColor {
     color: #7f8c8d;    
}

/*blue top section that appears on the page.*/

.splash-container {
    background: lightskyblue;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 85%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 10px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12rem;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    /* padding: 1em 1.6em; */
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*content area */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 60.5%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

#directionsDiv {
    background: #2d3e50;
}

/* borders for images */
#movieImg,
#gameImg,
#tvImg,
#musicImg,
#foodImg {
    padding: 10px;
    border: solid 2px #1f8dd6;
    border-radius: 5px;
    line-height: 1em;
}


/* medium-sized devices */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
   .splash-container {
        height: 500px;
    }

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 25%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*DESKTOP*/
@media (min-width: 78em) {
    /* increase the header font size  */
    .splash-container {
        height: 480px;
    }
    .splash {
        width: 25%;
        height: 50%;
    }
    .splash-head {
        font-size: 300%;
    }
    
}